.main-one-gallery-due {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  background-color: rgb(181, 163, 149);

}

.padding {
  padding-top: 80px;
}

.main-icon {
  padding-top: 50px;
}

.main-gallery {

  /* display: flex; */

}

.main-gallery img {
  width: 100%;
  height: 600px;
  cursor: pointer;
  float: left;

}


.overlay {
  width: 50%;
  height: 600px;
  cursor: pointer;
  float: left;
  background-color: white;
  position: relative;
  background-image: url('https://www.ipcc.ch/site/assets/uploads/sites/3/2019/10/img-placeholder.png');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;

}

.main-gallery img:hover {
  opacity: 0.3;
  transition-duration: 1s;
}

.main-one-gallery {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 80px;

}

/* GALLERY SHOW */

.img-view {
  width: 50%;
  float: left;
}

.img-view-100 {
  width: 100%;
}

.black {
  background-color: black;
}

.black img {
  height: 500px;
  width: calc(100% / 6);
  float: left;
}

@media screen and (max-width: 992px) {
  .main-one-gallery {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
 .main-one-gallery {
   width: 100vw;
 }
}

@media screen and (max-width: 600px) {
 .main-one-gallery {
   width: 100vw;
 }
}
