* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
  font-family: 'Alegreya Sans';
  overflow-x: hidden;

}

.nav-full-w {
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;

}

nav {
    width: 80vw;
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
    color: rgb(181, 163, 149);

}

.nav-lat {
  width: 25%;
  height: 80px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-lat li {
   list-style-type: none;
   float: left;
   padding: 10px;


}

.traform-menu {
  transform: scale(1.2);
  text-decoration: underline;

}

.nav-lat li:hover {
   transform: scale(1.2);
   text-decoration: underline;

}

.nav-lat ul li a {
  text-decoration: none;
  color: rgb(181, 163, 149);
  font-size: 16px;

}

.nav-center {
  width: 50%;
  float: left;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-center img {
  height: 60px;
  width: 60px;
}

.icon {
  display: none;
}

/* SLIDESHOW*/

.slideshow {
    width: 100vw;
    display: flex;
    align-items: center;
    padding-top: 80px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    color: rgb(181, 163, 149);
    height: 700px; /* da rimuovere */

}

.slideshow .fa-angle-left,.fa-angle-right {
  position: absolute;
  font-size: 50px;
  cursor: pointer;

}

.fa-angle-left {
  left: 0;
  padding: 10px;

}

.fa-angle-right {
  right: 0;
  padding: 20px;

}

.images {
    width: 100vw;

}

.images img {
    width: 100vw;
    height: 100%;
    object-fit: cover; /* Tiene le proporzioni ma taglia l'IMG */
    display: none;
}

.images img.active {
    display: block;
}

/* Slider Navigation */

.slider-nav {
    padding: 10px 15px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
}

.slider-nav .fa-circle {
    font-size: 8px;
    padding: 2px;
}


.slider-nav i.active {
    color: white;
}

/* MAIN ONE*/

.main-one-fw {
  width: 100vw;
  background-color: rgb(181, 163, 149);
  color: white;

}

.main-one-fw h1:first-child {
  padding-top: 70px;

}

.main-one {
  width: 80%;
  max-width: 1200px;
  background-color: rgb(181, 163, 149);
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;

}

.main-one-text {
  width: 50%;
  text-align: center;
}

.main-one-text p {
 font-style: italic;

}

.main-one-text p:first-child {
 font-size: 30px;
 padding-bottom: 20px;

}

.main-one-text-tre {
  text-align: center;
  font-size: 16px;

}

.main-one-text-tre p {
  padding-bottom: 20px;

}

.main-one-text-tre button {
  background-color: rgb(181, 163, 149);
  border: 2px solid white;
  padding: 5px;
  color: white;
  border-radius: 2px;

}

.main-one-text-tre button:hover {
  background-color: white;
  color: rgb(181, 163, 149);
  cursor: pointer;

}

.main-collab-fw {
  width: 100vw;
  color: white;
  border-bottom: 1px solid rgb(181, 163, 149);

}

.main-one-collab {
  width: 80vw;
  max-width: 1200px;
  background-color: rgb(181, 163, 149);
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;

}

.main-one-collab h1 {
  padding-bottom: 20px;

}

.main-one-collab .text-title {
  padding-bottom: 20px;

}

.main-one-collab img {
  padding-top: 50px;
  width: 300px; /* prima 300 */

}

.main-one-collab .img-colla:hover {
  transform: scale(1.1);
  transition-duration: .8s;
}

.img-colla {
  float: left;
  padding: 10px;
  cursor: pointer;

}

.text-collab {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

}

.collab {
  display: block;
  display: flex;
  justify-content: center;

}

.collab img {
  width: 130px;
  height: 130px;
  padding: 15px;

}

.collab img:hover {
  transform: scale(1.05);

}

.white {
  background-color: white;
  color: rgb(181, 163, 149);
  text-align: center;

}

.white a {
  color: rgb(181, 163, 149);

}

.social:hover {
  transform: scale(1.2);

}

.fa-facebook-square, .fa-instagram, .fa-google {
  font-size: 25px;
  padding: 10px;

}

.footer-text p {
  font-size: 16px;
  text-align: center;

}

.about-me, .contact, .press {
  width: 100vw;
  height: 0;
  position: absolute;
  background-color: white;
  left: 0;
  top: 80px;
  transition-duration: 0.3s;

}

.sx {
  float: right;
}

.dx {
  float: left;
}

.press img {
  width: 390px!important;


}


.main-tendina {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;

}

.main-tendina-box-img, .main-tendina-box-img-tre, .main-tendina-box-img-quattro {
  width: 50%;

}

.main-tendina-box-text, .main-tendina-box-text-tre {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: rgba(181, 163, 149, 1);

}

.main-tendina-box-text-quattro {
  /* width: 50%; */
  color: rgba(181, 163, 149, 1);
}

.main-tendina-box-text-quattro img {

}

.main-tendina-box-img-quattro img {
  width: 100%;

}

.main-tendina-box-img-quattro img:hover {
  transition: 1s;
  opacity: 0.1;

}

.main-tendina-box-text .ciao {
  font-size: 30px;
  padding-bottom: 10px;

}

.main-tendina-box-text-tre p {
  padding-bottom: 5px;

}

.main-tendina-box-text-tre p:nth-child(7) {
  padding-top: 25px;

}

.main-tendina-box-text-tre p:first-child {
  font-size: 30px;
  padding-bottom: 15px;

}

.main-tendina-box-text-tre button  {
  margin-top: 25px;

}

.main-tendina-box-text {
  padding-left: 20px;

}


.main-tendina-box-text p:nth-child(2) {
  padding-bottom: 20px;

}

.main-tendina-box-text p:nth-child(3) {
  padding-bottom: 20px;

}

.main-tendina-box-img img {
  padding-top: 50px;
  width: 100%;

}

.main-tendina-box-img-tre img {
  padding-top: 40px;
  width: 150%;
  cursor: pointer;
}

.altezza {
  height: 100vh;

}

.inserimento-dati {
  position: absolute;
  width:  400px;
  height: 500px;
  background-color: rgba(181, 163, 149, 1);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.none {
  display: none;

}

.inserimento-dati p {
  padding-top: 10px;

}

.inserimento-dati input {
  height: 40px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#contattami, #contattami2 {
  width: 185px;
  height: 40px;
  background-color: rgba(181, 163, 149, 1);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;

}

#contattami:hover {
  background-color: white;
  color: rgba(181, 163, 149, 1);
  border: 1px solid rgba(181, 163, 149, 1);

}

#contattami2:hover {
  background-color: white;
  color: rgba(181, 163, 149, 1);
  border: 1px solid rgba(181, 163, 149, 1);

}

.inserimento-dati button {
  width: 185px;
  height: 40px;
  background-color: rgba(181, 163, 149, 1);
  border: 1px solid white;
  border-radius: 5px;

}

.box-check {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.p-primario-o, .p-primario {
  color: white;
}

.box-check .pretty {
  margin: 4px;

}

.close {
  top: 30px;
  right: 260px;
  position: absolute;
  font-size: 25px;
  cursor: pointer;

}

.main-tendina {
  overflow-y: hidden;
}

.uno, .due, .tre, .quattro {
  margin: 0;
}

@media screen and (max-width: 992px) {

  .slideshow {
    height: auto;
    padding-top: 80px;

  }

  .img-colla {
      width: 100vw;
      padding: 0;

  }

  .img-colla img {
      width: 100%;
      padding: 0;

  }

  .main-one-collab .img-colla:hover {
    transform: scale(1.0);

  }

  .text-title-bis {
    padding-bottom: 100px;
  }

  .icon {
    display: block;
    font-size: 30px;
    color: rgb(181, 163, 149);

  }

  .text-menu {
    display: none;
  }

  .nav-lat {
    width: 30%;
  }

  .nav-center {
    width: 40%;
  }

  .uno, .due, .tre, .quattro {
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon {
    font-size: 30px;
  }

  .close {
    top: 30px;
    right: 45px;
    position: absolute;
    font-size: 40px;
    cursor: pointer;

  }

}

@media screen and (max-width: 768px) {

    .slideshow {
      height: auto;
      padding-top: 80px;

    }

    .img-colla {
        width: 100vw;
        padding: 0;

    }

    .img-colla img {
        width: 100%;
        padding: 0;

    }

    .main-one-text p {
      font-size: 10px;

    }

    .main-one-text p:first-child {
      font-size: 20px;

    }

    .main-one-collab .img-colla:hover {
      transform: scale(1.0);

    }

    .text-title-bis {
      padding-bottom: 100px;
    }

    .icon {
      display: block;
    }

    .text-menu {
      display: none;
    }

    .close {
      top: 30px;
      right: 45px;
      position: absolute;
      font-size: 40px;
      cursor: pointer;

    }

}

@media screen and (max-width: 600px) {

    .slideshow {
      height: auto;
      padding-top: 80px;

    }

    .img-colla {
        width: 100vw;
        padding: 0;

    }

    .img-colla img {
        width: 100%;
        padding: 0;

    }

    .main-one-text p {
      font-size: 10px;

    }

    .main-one-text p:first-child {
      font-size: 20px;

    }

    .main-one-collab .img-colla:hover {
      transform: scale(1.0);

    }

    .text-title-bis {
      padding-bottom: 100px;
    }

    .icon {
      display: block;
    }

    .text-menu {
      display: none;
    }

    .close {
      top: 30px;
      right: 45px;
      position: absolute;
      font-size: 40px;
      cursor: pointer;

    }
}
